.one{margin:0 auto;}
body   {
	background-image:url("https://media-public.canva.com/MACViGoajE8/1/screen.jpg");
    background-size: cover;
    font-family: 'Tinos', serif;
    width: 100%;
}

p {
    
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: #bc4ed6bd;
    color: white;
}

.text-danger {
    color: #E7245D;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.btn {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 1px 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #40aeb7;
    color: white;
}
input, button {
	display: block;
	margin: 0 auto;
}